.card-label__container {
  position: absolute;
  bottom: 90px;
  right: 0;
}

.card-label__content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  width: 110px;
  border-radius: 8px 0px 0px 8px;
}

.card-label__content > p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
