<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Exclusive"
    gameType="Digital PS5"
    gamePrice="U$ 199.99">
  </app-card>

  <app-card
    gameCover="assets/bt-4.jpg"
    gameType="Digital PS4"
    gamePrice="U$ 149.99">
  </app-card>

  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Black Friday"
    gameType="Digital PS3"
    gamePrice="U$ 99.99">
  </app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="New"
    gameType="Digital PS5"
    gamePrice="U$ 199.99">
  </app-card>

</div>
