* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(63,74,251);
  background: linear-gradient(60deg, rgba(63,74,251,1) 0%, rgba(175,63,251,1) 50%, rgba(252,81,70,1) 100%);
}
